.registrationContainer {
  position:absolute;
  background-color: #fff;
  width: 400px;
  height: 650px;
  border-radius: 10px;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.registrationTitle {
  font-size: 26px;
  font-family: 'Fira Sans', sans-serif;
  color: #333;
}

.registrationForm {
  margin-top: 30px;
  text-align: left;
}

.labelText {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #555;
  cursor: pointer;
  align-items: center;
  display: flex;
}

.inputField {
  outline: 0;
  width: 300px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding-left: 15px;
  font-size: 18px;
}
.inputField:hover {
  transition: border 0.3s;
  cursor: default;
  border: 1px solid #b3b4b4;
}
.inputField:focus{
  transition: border 0.3s;
  border: 1px solid #81a1b0;
}
.inputField[type="text"]{
  margin-top: 30px;
}
.inputField[type="email"]{
  /* margin-top: 0px; */
}

/* Стили для поля ввода пароля */
.inputField[type="password"] {
  background-color: #c9e1ed;
  border-color: #a7bac4;
  outline: none;
  margin-top: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  font-size: 18px;
}
.inputField[type="password"]:hover {
  transition: border 0.3s;
  cursor: default;
  border: 1px solid #b3b4b4;
}
.inputField[type="password"]:focus{
  transition: border 0.3s;
  border: 1px solid #81a1b0;
}

.submitButton {
  background-color: #81a1b1;
  /* position: absolute; */
  color: #fff;
  /* padding: 10px 30px; */
  height: 56px;
  width: 350px;
  border: none;
  border-radius: 10px;
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  margin-top: 30px;
  /* margin-left: 20px; */
}

.submitButton:hover {
  background-color: #7195a7;
  transition: 0.3s;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

button {
  margin-top: 10px;
}

.labelText[type="acc"] {
  /* position: absolute; */
  margin-top: 20px;
  color: #555;
}

.linkText {
  margin-left: 5px;
  color: #2d6987;
  cursor: pointer;
}
.labelText[type="checkboxes1"]{
  margin-top: 20px;
  margin-left: 35px;
  width: 340px;
  word-wrap: break-word;
  cursor: pointer;
}
.labelText[type="checkboxes2"] {
  margin-top: -10px;
  margin-left: 35px;
  width: 340px;
  word-wrap: break-word;
  cursor: pointer;
}
.checkBoxes[type="checkbox"]{
  position: absolute;
  margin-left: -20px;
  margin-top: 0px;
  cursor: pointer;
}

.error {
  color: red;
  transition: color 0.3s ease;
}

.agreementText {
  font-size: 14px;
}
.agreementText[type="last_agree"]{
  margin-top: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.link {
  margin-left: 4px;
  text-decoration: none;
  color: #386fdb;
}

.hrLine {
  width: 350px;
  border-top: 0px solid #eeedf0;
  margin-top: 20px;
}