/* стили для всех страниц */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    color: #787878;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
}